.game {
  position: relative;
  background: url("../design/img/Mapsicle.jpg") center center no-repeat fixed;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  font-family: Lato;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.game__wrap {
  margin-top: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.game .result {
  position: relative;
  z-index: 3;
  margin-top: 200px;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
}
.game .count {
  position: relative;
  z-index: 3;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 50px;
  color: #fff;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 4px solid white;
  text-align: center;
  line-height: 4.9;
}
.game .start {
  margin-top: 10px;
  position: relative;
  z-index: 3;
  width: 240px;
  height: 70px;
  border-radius: 5px;
  border: none;
  margin-right: 5px;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #F5F5F5;
  color: #0085FF;
  opacity: 0.7;
  transform: scale(0.8);
}
.game .start:hover {
  background-color: rgba(231, 223, 223, 0.792);
  cursor: pointer;
}
.game .again {
  margin-top: 10px;
  position: relative;
  z-index: 3;
  width: 240px;
  height: 70px;
  border-radius: 5px;
  border: none;
  margin-right: 5px;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #F5F5F5;
  color: #0085FF;
}
.game .again:hover {
  background-color: rgba(231, 223, 223, 0.792);
  cursor: pointer;
}
.game .main {
  margin-top: 10px;
  position: relative;
  z-index: 3;
  width: 240px;
  height: 70px;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #F5F5F5;
  color: #0085FF;
  opacity: 0.7;
  transform: scale(0.8);
}
.game .main:hover {
  background-color: rgba(231, 223, 223, 0.792);
  cursor: pointer;
}
.game .container {
  max-width: 1200px;
  position: relative;
  z-index: 3;
  padding: 0 50px 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.game .container .wrap__answer {
  position: relative;
  z-index: 3;
  top: 50px;
  height: 200px;
  font-size: 25px;
  font-weight: 600;
  color: white;
  text-align: center;
  line-height: 1.7;
}
.game .container .wrap__answer .answer-true {
  color: #3a9f28;
  font-weight: 900;
  font-size: 60px;
  text-transform: uppercase;
}
.game .container .wrap__answer .answer-false {
  color: #da3428;
  font-size: 60px;
  font-weight: 900;
  text-transform: uppercase;
}
.game::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}
.game__question {
  position: relative;
  z-index: 3;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  line-height: 1.7;
  text-align: center;
}
.game__btn {
  margin-top: 10px;
  width: 240px;
  height: 70px;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  transition: 1s;
}
.game__btn:active {
  outline: 0;
  outline-offset: 0;
}
.game__btn:hover {
  outline: 0;
  outline-offset: 0;
}
.game__btn:focus {
  outline: 0;
  outline-offset: 0;
}
.game__btn-wrap {
  position: relative;
  z-index: 5;
  margin-top: 100px;
  width: 50vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.game__btn-wrap .green {
  background-color: #37c81d;
  margin-right: 5px;
}
.game__btn-wrap .green:hover {
  background-color: #3a9f28;
  cursor: pointer;
}
.game__btn-wrap .red {
  background-color: #da3428;
}
.game__btn-wrap .red:hover {
  background-color: #9d362b;
  cursor: pointer;
}
.game__btn-wrap .white {
  background-color: #F5F5F5;
  color: #0085FF;
}
.game__btn-wrap .white:hover {
  background-color: rgba(231, 223, 223, 0.792);
  cursor: pointer;
}/*# sourceMappingURL=game.css.map */