//Стили  главной страницы
body {
    background: url('../design/img/Mapsicle.jpg') center center no-repeat fixed;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    font-family: Lato;
    .panel {
        margin: 50px 0px 0px 50px;
        display: flex;
        column-gap: 16px;;
        justify-content: space-around;
        align-items: center;
        flex-wrap:wrap;
        max-width: 1154px;
        height: 90px;
        background-color: #fff;
        padding: 20px; 
        border-radius: 5px;
        
        @media (max-width:1024px) {
            width: 100%;
            margin:0;
            height: auto;
            justify-content: flex-start;
            border-radius: 0;

        }
        a {
            @media (max-width:1024px) {
                order: 3;
                width: 100%;
                text-decoration: none;
                display: none;
                    &.shown {
                        display: block;
                        margin-top: 25px;
                       
                        .panel__btn-game {
                            width: 100%;
                        }
                    }
                
            }
        }

        .panel__btns {
            display: flex;
            @media (max-width:991px) {
                order: 2;
                margin-top: 25px;
                display: none;

                &.shown {
                    display: flex;
                }
            }
        }
      
        .btn {
            width: 50px;
            height: 50px;
            background-color:#F5F5F5;
            border-radius: 5px;
            border: none;
            font-size: 15px;
            font-family: Lato;
            font-weight: 700;
            &:hover{
                cursor: pointer;
                background-color:#e5e4e4;
            }
            & + .btn {
                margin-left: 16px;
                @media (max-width: 991px )   {
                    margin-left: 8px
                }
            }
            @media (max-width:1024px) {
                width: 40px;
                height: 40px;
                font-size: 11px;
            }
        }
        .btn-active {
            background-color:#fff;
            color:#0085FF;
            border: 1px solid #0085FF;
        }
        .active-svg-btn {
             path {
                fill: #0085FF;
              }
            
        }
        &__btn-choice {
            width: 120px;
            height: 50px;
            background-color: #0085FF;
            border-radius: 5px;
            border:none;
            font-size: 13px;
            font-family: Lato;
            font-weight: 600;
            text-transform: uppercase;
            color: #fff;
            margin-left: 16px;
            &:hover {
                background-color: #0569c6;
                cursor: pointer;
            }
            &:active {
                outline: 0;
                outline-offset: 0;
            }
            &:hover {
                outline: 0;
                outline-offset: 0;
            }
            &:focus {
                outline: 0;
                outline-offset: 0;
            }
            @media (max-width: 991px) {
                font-size: 11px;
                width: auto;
                padding: 0 30px;
                color: #fff;
                margin-left: 8px;
            }

        }
        &__btn-all-citie {
            width: 143px;
            height: 50px;
            background-color: #000000;
            color: #ffffff;
            border-radius: 5px;
            border:none;
            font-size: 13px;
            font-family: Lato;
            font-weight: 600;
            text-transform: uppercase;
            margin-left:16px;
            &:hover {
                background-color: #373636;
                cursor: pointer;
            }
            &:active {
                outline: 0;
                outline-offset: 0;
            }
            &:hover {
                outline: 0;
                outline-offset: 0;
            }
            &:focus {
                outline: 0;
                outline-offset: 0;
            }
            @media (max-width: 1024px){
                display: none;
                
                &.shown {
                    display: block;
                    position: absolute;
                    left: 206px;
                    transform: translateY(70px);
                    width: auto;
                    padding: 0 30px;
                    font-size: 11px;
                }
            }
        }
        &__btn-game {
            width: 143px;
            height: 50px;
            background-color:#F5F5F5;
            border-radius: 5px;
            border: none;
            font-size: 13px;
            font-family: Lato;
            font-weight: 600;
            text-transform: uppercase;
            color:#0085FF;
            border: 1px solid #0085FF;
            &:hover {
                background-color:#e5e4e4;
                cursor: pointer;
            }
            &:active {
                outline: 0;
                outline-offset: 0;
            }
            &:hover {
                outline: 0;
                outline-offset: 0;
            }
            &:focus {
                outline: 0;
                outline-offset: 0;
            }
            
        }
       #input {
        width: 250px;
        height: 50px;
        border-radius: 5px;
        padding-left: 20px;
        border: 1px solid #DADADA;
        font-size: 14px;
        font-family: Lato;
        font-weight: 400;
        text-transform: capitalize;

            &:active {
                outline: 0;
                outline-offset: 0;
            }
            &:hover {
                outline: 0;
                outline-offset: 0;
            }
            &:focus {
                outline: 0;
                outline-offset: 0;
            }
            @media(max-width:1024px) {
                width: calc(100% - 176px);
                
            }
       }
    }
    .cities {
        margin: 24px 0px 0px 50px;
        width: 400px;
        height: 600px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.06);
        border-collapse: collapse;

        @media(max-width:767px) {
            width: calc(100% - 100px);
        }

            tr {
                border-radius: 5px;

                td {
                    font-size: 17px;
                    font-family: Lato;
                    font-weight: 400;
                    width: 200px;
                    height: 60px;
                    padding-left: 15px;
                    border-radius: 5px;
                    border: 1px solid #F5F5F5;
                    &:hover {
                        cursor: pointer;
                    }
                @media(max-width: 767px){
                    width: 50%;
                }

                }
            }  
    }
  
}
