
@media(max-width: 640px){
 
    .game__question{
        font-size: 18px;
    }
    .game {
        .container {
            .wrap__answer {
                font-size: 18px;
                height: auto;
                .answer-true {
                    font-size: 30px;
                }
                .answer-false {
                    font-size: 30px;
                }
            }
        }
    }
} 

@media(max-width: 470px) {

    .game {
        .start {
            margin-right: 0;
        }
        .again {
            margin-right: 0;
        }
       .green {
        margin-right: 0;
       }
    }
}

